body {
    font-family: 'Arial', sans-serif;
    text-align: right;
    color: green;
    font-size: xx-large;
    background-color: rgb(225, 225, 250);
}

p {
    text-decoration: underline;
}

img {
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Плавный переход */
    border-radius: 12px;
    /* Скругление углов для более стильного вида */
}

img:hover {
    transform: scale(1.01);
    /* Увеличение при наведении */
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.2);
    /* Тень для эффекта "парения" */
}

.company-title {
    color: red;
    text-align: right;
}

button {
    font-size: large;
    width: 150px;

}